.cargando{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
  filter: alpha(opacity=67);
  -moz-opacity: 0.67;
  -khtml-opacity: 0.67;
  opacity: 0.77;
  z-index: 2000;
  margin: 0px;
  padding: 0px;

}
.contenedor-cargando{
  position: relative;
  left: 40%;
  top: 30%;
  width: 290px;
  height: 290px;
  background: #fff;
  z-index: 1501;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}
.titulo-cargando{
  position: absolute;
  left:33%;
  top:10%;
  font-size: 20px;
}
.logo-empresa-cargando{
  position: absolute;
  left:33%;
  top:24%;
}
.gif-cargando{
  position: absolute;
  left:24%;
  top:65%;
}
.contenedor-cargando-body{
  position: absolute;
  left: 24%;
  Top:60%;
}
